<div class="block-reviews">
    <div class="container">
        <div class="heading-complex">
            <h2 class="title2">
                Проверено на трассах и в грязи: реальные отзывы
            </h2>
            <p>
                Скидки, подарки и условия, которые не повторятся!
                Забирайте технику и аксессуары по лучшим ценам
                сезона — пока не разобрали.
            </p>
        </div>
        <div class="block-reviews__content">
            <div class="block-reviews__slider swiper">
                <div class="block-reviews__wrapper swiper-wrapper">
                    <div class="block-reviews__slide swiper-slide">
                        <a href="#" class="block-reviews__item">
                            <div class="block-reviews__top">
                                <div class="block-reviews__left">
                                    <div class="block-reviews__name">
                                        Андрей
                                    </div>
                                    <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                    </div>
                                </div>
                                <div class="block-reviews__arrow">
                                    <svg aria-hidden="true" width="17" height="15">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                Отличный мотосалон, большой выбор техники, аксессуаров и экипировки. Грамотный и
                                отзывчивый персонал. Отдельное спасибо менеджеру Павлу, подробно проконсультировал,
                                рассказал про доп оборудование и аксессуары, помог с выбором.
                            </p>
                        </a>
                        <div class="block-reviews__gallery">
                            <a href="img/image42.webp" data-fancybox="gallery5">
                                <img loading="lazy" src="img/image42.webp" alt="">
                            </a>
                            <a href="img/image42.webp" data-fancybox="gallery5">
                                <img loading="lazy" src="img/image43.webp" alt="">
                            </a>
                            <a href="img/image42.webp" data-fancybox="gallery5">
                                <img loading="lazy" src="img/image44.webp" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="block-reviews__slide swiper-slide">
                        <a href="#" class="block-reviews__item">
                            <div class="block-reviews__top">
                                <div class="block-reviews__left">
                                    <div class="block-reviews__name">
                                        Максим
                                    </div>
                                    <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                    </div>
                                </div>
                                <div class="block-reviews__arrow">
                                    <svg aria-hidden="true" width="17" height="15">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                Купил себе в данном салоне отличного квадрика. Персонал отзывчивый помогает дельными
                                советами. Особенно хотелось бы отметить работу Дмитрия, человек на своём месте это
                                точно. Всё подробно расскажет и пояснит.
                            </p>
                        </a>
                        <div class="block-reviews__gallery">
                            <a href="img/image45.webp" data-fancybox="gallery6">
                                <img loading="lazy" src="img/image45.webp" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="block-reviews__slide swiper-slide">
                        <a href="#" class="block-reviews__item">
                            <div class="block-reviews__top">
                                <div class="block-reviews__left">
                                    <div class="block-reviews__name">
                                        Сергей
                                    </div>
                                    <div data-rating data-rating-size="5" data-rating-value="4" class="rating">
                                    </div>
                                </div>
                                <div class="block-reviews__arrow">
                                    <svg aria-hidden="true" width="17" height="15">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                При путешествию по Крыму пробег критически начал приближался к "перепробегу" для ТО,
                                из-за чего пришлось "досрочно" вернуться домой. Ребята нашли "окошко" и сделали ТО, чем
                                очень выручили🤝, т.к. в планах была поездка по Адыгее
                            </p>
                        </a>
                        <div class="block-reviews__gallery">
                            <a href="img/image46.webp" data-fancybox="gallery7">
                                <img loading="lazy" src="img/image46.webp" alt="">
                            </a>
                            <a href="img/image47.webp" data-fancybox="gallery7">
                                <img loading="lazy" src="img/image47.webp" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-reviews__arrows">
                <div class="block-reviews__arrow-prev arrow-prev2">
                    <svg aria-hidden="true" width="7" height="4">
                        <use xlink:href="img/sprite.svg#arrow1"></use>
                    </svg>
                </div>
                <div class="block-reviews__arrow-next arrow-next2">
                    <svg aria-hidden="true" width="7" height="4">
                        <use xlink:href="img/sprite.svg#arrow1"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>