<div class="block-forms block1">
    <div class="container">
        <div class="block-forms__content">
            <img loading="lazy" src="img/image21.webp" alt="" class="block-forms__bg1">
            <div class="block-forms__left">
                <h2 class="title2">
                    Подберём идеальную технику под ваши задачи
                </h2>
                <img loading="lazy" src="img/image20.webp" alt="" class="block-forms__pic1">
            </div>
            <div class="block-forms__right">
                <p>
                    Не знаете, что выбрать? Оставьте заявку, и наш специалист свяжется с вами, чтобы помочь подобрать
                    технику, комплектацию и аксессуары. Мы расскажем про условия покупки, доставки и сервисного
                    обслуживания.
                </p>
                <form action="#">
                    <div class="form">
                        <div class="form__inputs">
                            <div class="form__input">
                                <input data-required autocomplete="off" type="text" name="form[]"
                                    data-error="Обязательное поле" placeholder="Имя">
                            </div>
                            <div class="form__input">
                                <input data-required autocomplete="off" type="text" name="form[]"
                                    data-error="Обязательное поле" placeholder="Телефон" class="tel">
                            </div>
                        </div>
                        <label class="checkbox">
                            <input data-required data-error="Обязательно поле" class="checkbox__input" type="checkbox"
                                name="form[]">
                            <span class="checkbox__label">
                                <span class="checkbox__icon">
                                    <svg aria-hidden="true" width="16" height="6">
                                        <use xlink:href="img/sprite.svg#check"></use>
                                    </svg>
                                </span>
                                <span class="checkbox__text">
                                    Соглашаюсь на обработку персональных данных
                                    и принимаю политику конфиденциальности
                                </span>
                            </span>
                        </label>
                        <button type="submit" class="form__button">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>