<header class="header">
  <div class="top-header">
    <div class="container">
      <a href="#" class="top-header__content">
        <img src="img/icon/logo1.svg" alt="" class="top-header__pic1">
        <img src="img/icon/close1.svg" alt="" class="top-header__pic2">
        <div class="top-header__text">
          Скорость в твоих руках
        </div>
      </a>
    </div>
  </div>
  <div class="center-header">
    <div class="container">
      <div class="center-header__content">
        <nav data-da=".catalog-menu__content, 992, first" class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link">
                <span>О компании</span>
                <svg aria-hidden="true" width="9" height="5">
                  <use xlink:href="img/sprite.svg#arrow1"></use>
                </svg>
              </a>
              <div class="menu__dropdown">
                <ul>
                  <li>
                    <a href="#">Покупка в кредит</a>
                  </li>
                  <li>
                    <a href="#">Новости</a>
                  </li>
                  <li>
                    <a href="#">Сервисная информация</a>
                  </li>
                  <li>
                    <a href="#">Покупка запчастей</a>
                  </li>
                  <li>
                    <a href="#">Сотрудничество</a>
                  </li>
                  <li>
                    <a href="#">Вакансии</a>
                  </li>
                  <li>
                    <a href="#">Гос. программы</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">
                <span>Покупателю</span>
                <svg aria-hidden="true" width="9" height="5">
                  <use xlink:href="img/sprite.svg#arrow1"></use>
                </svg>
              </a>
              <div class="menu__dropdown">
                <ul>
                  <li>
                    <a href="#">Покупка в кредит</a>
                  </li>
                  <li>
                    <a href="#">Новости</a>
                  </li>
                  <li>
                    <a href="#">Сервисная информация</a>
                  </li>
                  <li>
                    <a href="#">Покупка запчастей</a>
                  </li>
                  <li>
                    <a href="#">Сотрудничество</a>
                  </li>
                  <li>
                    <a href="#">Вакансии</a>
                  </li>
                  <li>
                    <a href="#">Гос. программы</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">
                <span>Сервис</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">
                <span>Мероприятия</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">
                <span>Видео</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">
                <span>Forsage Racing Team</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">
                <span>Контакты</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="center-header__right">
          <a href="#" class="center-header__progress">
            <svg aria-hidden="true" width="14" height="14">
              <use xlink:href="img/sprite.svg#trophy"></use>
            </svg>
            <span>Достижения компании</span>
          </a>
          <div class="center-header__contacts">
            <div class="socials">
              <a href="#">
                <img src="img/icon/vk1.svg" alt="">
              </a>
              <a href="#">
                <img src="img/icon/telegram1.svg" alt="">
              </a>
              <a href="#">
                <img src="img/icon/zen1.svg" alt="">
              </a>
            </div>
            <a href="tel:88612050571" class="center-header__phone">8 (861) 205-05-71</a>
            <a href="#" class="center-header__call">Заказать звонок</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="container">
      <div class="bottom-header__content">
        <img src="img/image8.webp" alt="" class="bottom-header__bg">
        <a href="#" class="bottom-header__logo">
          <img src="img/icon/logo2.svg" alt="">
        </a>
        <div class="bottom-header__body">
          <div class="bottom-header__left">
            <div class="catalog-menu">
              <div class="catalog-menu__button">
                <div class="catalog-menu__icon">
                  <span></span>
                </div>
                <span>Каталог</span>
              </div>
              <div class="catalog-menu__dropdown">
                <div class="catalog-menu__content">
                  <div data-tabs class="tabs-catalog-menu">
                    <nav data-tabs-titles class="tabs-catalog-menu__navigation">
                      <button type="button" class="tabs-catalog-menu__title _tab-active">Квадроциклы</button>
                      <button type="button" class="tabs-catalog-menu__title">Мотоциклы</button>
                      <button type="button" class="tabs-catalog-menu__title">Аксессуары</button>
                      <button type="button" class="tabs-catalog-menu__title">Запчасти</button>
                      <button type="button" class="tabs-catalog-menu__title">Экипировка</button>
                      <button type="button" class="tabs-catalog-menu__title">Автотовары</button>
                      <button type="button" class="tabs-catalog-menu__title">Фильтры</button>
                      <button type="button" class="tabs-catalog-menu__title">Аккумуляторы</button>
                      <button type="button" class="tabs-catalog-menu__title">Свечи</button>
                    </nav>
                    <div data-tabs-body class="tabs-catalog-menu__content">
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tabs-catalog-menu__body">
                        <div class="tabs-catalog-menu__cards">
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы CFMOTO</a>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">
                                Подростковые, детские квадроциклы
                              </a>
                              <ul>
                                <li>
                                  <a href="#">Yacota (6)</a>
                                </li>
                                <li>
                                  <a href="#">Kayo (18)</a>
                                </li>
                                <li>
                                  <a href="#">Avantis (13)</a>
                                </li>
                                <li>
                                  <a href="#">Bashan (4)</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="tabs-catalog-menu__card">
                            <div class="tabs-catalog-menu__image">
                              <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="tabs-catalog-menu__text">
                              <a href="#" class="tabs-catalog-menu__name">Квадроциклы с пробегом</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form action="#" class="search-header">
              <div class="search-header__top">
                <svg aria-hidden="true" width="12" height="12">
                  <use xlink:href="img/sprite.svg#search"></use>
                </svg>
                <div class="search-header__input">
                  <input autocomplete="off" type="text" name="form[]" placeholder="">
                </div>
                <button type="button" class="search-header__button">Найти</button>
              </div>
              <div class="search-header__dropdown">
                <div class="search-header__content">
                  <div class="search-header__tags">
                    <button type="button" class="search-header__tag">С ПТС</button>
                    <button type="button" class="search-header__tag">300</button>
                    <button type="button" class="search-header__tag">250</button>
                    <button type="button" class="search-header__tag">КРАСНЫЙ</button>
                    <button type="button" class="search-header__tag">ТУРИСТИЧЕСКИЙ</button>
                    <button type="button" class="search-header__tag">С ПРОБЕГОМ</button>
                  </div>
                  <div class="search-header__body">
                    <div class="search-header__left">
                      <div class="search-header__column">
                        <div class="search-header__title">Часто ищут:</div>
                        <ul>
                          <li>
                            <a href="#">
                              <svg aria-hidden="true" width="12" height="12">
                                <use xlink:href="img/sprite.svg#search"></use>
                              </svg>
                              <span>Эндуро с ПТС</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg aria-hidden="true" width="12" height="12">
                                <use xlink:href="img/sprite.svg#search"></use>
                              </svg>
                              <span>Эндуро 300</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg aria-hidden="true" width="12" height="12">
                                <use xlink:href="img/sprite.svg#search"></use>
                              </svg>
                              <span>Эндуро 250</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg aria-hidden="true" width="12" height="12">
                                <use xlink:href="img/sprite.svg#search"></use>
                              </svg>
                              <span>Эндуро красный</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg aria-hidden="true" width="12" height="12">
                                <use xlink:href="img/sprite.svg#search"></use>
                              </svg>
                              <span>Эндуро туристический</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="search-header__column">
                        <div class="search-header__title">найти в категории:</div>
                        <ul>
                          <li>
                            <a href="#">
                              <svg aria-hidden="true" width="14" height="8" class="svg-menu2">
                                <use xlink:href="img/sprite.svg#menu2"></use>
                              </svg>
                              <span>
                                GR (мототехника \ мотоциклы \ внедорожные \ эндуро)
                              </span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg aria-hidden="true" width="14" height="8" class="svg-menu2">
                                <use xlink:href="img/sprite.svg#menu2"></use>
                              </svg>
                              <span>
                                KAYO (мототехника \ мотоциклы)
                              </span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <svg aria-hidden="true" width="14" height="8" class="svg-menu2">
                                <use xlink:href="img/sprite.svg#menu2"></use>
                              </svg>
                              <span>
                                ATAKI (мототехника \ мотоциклы \ дорожные)
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="search-header__right">
                      <div data-da=".search-header__left, 600, 1" class="search-header__column search-popular">
                        <div class="search-header__title">Популярные товары:</div>
                        <ul>
                          <li>
                            <a href="#">
                              <div class="search-header__image">
                                <img loading="lazy" src="img/image9.webp" alt="">
                              </div>
                              <div class="search-header__text">
                                <div class="search-header__name">
                                  Мотоцикл KAYO T1-L 250 Enduro (CB250G) 21/18 ПТС
                                </div>
                                <div class="search-header__price">134 990 ₽</div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="search-header__image">
                                <img loading="lazy" src="img/image9.webp" alt="">
                              </div>
                              <div class="search-header__text">
                                <div class="search-header__name">
                                  Мотоцикл KAYO T1-L 250 Enduro (CB250G) 21/18 ПТС
                                </div>
                                <div class="search-header__price">134 990 ₽</div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="search-header__image">
                                <img loading="lazy" src="img/image9.webp" alt="">
                              </div>
                              <div class="search-header__text">
                                <div class="search-header__name">
                                  Мотоцикл KAYO T1-L 250 Enduro (CB250G) 21/18 ПТС
                                </div>
                                <div class="search-header__price">134 990 ₽</div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="#" class="search-header__more">Смотреть все результаты</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="bottom-header__right">
            <button type="button" class="bottom-header__column search">
              <svg aria-hidden="true" width="12" height="12">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
            <a href="#" class="bottom-header__column">
              <svg aria-hidden="true" width="15" height="15">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
              <span>Войти</span>
            </a>
            <a href="#" class="bottom-header__column">
              <svg aria-hidden="true" width="13" height="12">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
              <div class="bottom-header__count">4</div>
            </a>
            <a href="#" class="bottom-header__column cart">
              <img loading="lazy" src="img/icon/cart.svg" alt="">
              <div class="bottom-header__count">2</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>