<div class="pagination2">
    <a class="pagination2__item" href="#">1</a>
    <a class="pagination2__item" href="#">2</a>
    <a class="pagination2__item" href="#">3</a>
    <a class="pagination2__item pagination2__item_active" href="#">4</a>
    <a class="pagination2__item pagination2__item_ellipsis" href="#">...</a>
    <a class="pagination2__item" href="#">5</a>
</div>