<div class="block-sale block3">
    <div class="container">
        <div class="block-sale__slider swiper">
            <div class="block-sale__wrapper swiper-wrapper">
                <a href="#" class="block-sale__slide slide1 swiper-slide">
                    <img src="img/image24.webp" alt="">
                </a>
                <a href="#" class="block-sale__slide slide2 swiper-slide">
                    <img src="img/image1.webp" alt="">
                </a>
            </div>
        </div>
    </div>
</div>