<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <svg aria-hidden="true" width="12" height="8">
                                    <use xlink:href="img/sprite.svg#arrow4"></use>
                                </svg>
                            </a>
                        </li>
                        <li><span>Контакты</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-contacts block-contacts2">
                <div class="container">
                    <div class="heading-complex">
                        <h1 class="title2">
                            Контакты<br> мотосалона Forsage
                        </h1>
                        <div class="heading-complex__socials">
                            <div class="heading-complex__socials-title">
                                Подписывайтесь на нас в социальных сетях:
                            </div>
                            <div class="socials">
                                <a href="#">
                                    <img src="img/icon/vk1.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/icon/telegram1.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/icon/zen1.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/icon/rutube.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/icon/youtube.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="block-contacts__content">
                        <div class="block-contacts__column">
                            <div class="block-contacts__body">
                                <div class="block-contacts__left">
                                    <div class="block-contacts__name">Геленджик</div>
                                    <div class="block-contacts__title">
                                        Салон на
                                        <br>
                                        Родниковой
                                    </div>
                                    <div class="block-contacts__address">
                                        г. Геленджик, ул. Родниковая, 1В
                                        <br>
                                        9:00 — 19:00, без выходных
                                    </div>
                                    <a href="#" class="block-contacts__rating">
                                        <img loading="lazy" src="img/image29.webp" alt="">
                                    </a>
                                </div>
                                <div class="block-contacts__right">
                                    <div class="block-contacts__gallery">
                                        <a data-fancybox="gallery2" href="img/image30.webp">
                                            <img loading="lazy" src="img/image30.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery2" href="img/image31.webp">
                                            <img loading="lazy" src="img/image31.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery2" href="img/image32.webp">
                                            <img loading="lazy" src="img/image32.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery2" href="img/image33.webp">
                                            <img loading="lazy" src="img/image33.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="#" class="block-contacts__tour-virtual">
                                        <svg aria-hidden="true" width="18" height="18">
                                            <use xlink:href="img/sprite.svg#tour-virtual"></use>
                                        </svg>
                                        <span>Виртуальный тур по салону</span>
                                    </a>
                                    <div class="phones-block-contacts">
                                        <div class="phones-block-contacts__column">
                                            <div class="phones-block-contacts__title">
                                                Телефоны салона и сервиса:
                                            </div>
                                            <div class="phones-block-contacts__item">
                                                <a href="tel:89280360005">
                                                    <div class="phones-block-contacts__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#phone-call"></use>
                                                        </svg>
                                                    </div>
                                                    <span>8 (928) 03-60-005</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="map1" data-hint="Форсаж" data-center='[44.596453, 38.046087]' data-zoom="15"
                                class="block-contacts__map"></div>
                        </div>
                        <div class="block-contacts__column">
                            <div class="block-contacts__body">
                                <div class="block-contacts__left">
                                    <div class="block-contacts__name">Краснодар</div>
                                    <div class="block-contacts__title">
                                        Салон на
                                        <br>
                                        Уральской
                                    </div>
                                    <div class="block-contacts__address">
                                        г. Краснодар, ул. Уральская, 99<br>
                                        TЦ «Вега», 2-й этаж<br>
                                        10:00 — 19:00, без выходных
                                    </div>
                                    <a href="#" class="block-contacts__rating">
                                        <img loading="lazy" src="img/image29.webp" alt="">
                                    </a>
                                </div>
                                <div class="block-contacts__right">
                                    <div class="block-contacts__gallery">
                                        <a data-fancybox="gallery3" href="img/image34.webp">
                                            <img loading="lazy" src="img/image34.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery3" href="img/image35.webp">
                                            <img loading="lazy" src="img/image35.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery3" href="img/image36.webp">
                                            <img loading="lazy" src="img/image36.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery3" href="img/image37.webp">
                                            <img loading="lazy" src="img/image37.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="#" class="block-contacts__tour-virtual">
                                        <svg aria-hidden="true" width="18" height="18">
                                            <use xlink:href="img/sprite.svg#tour-virtual"></use>
                                        </svg>
                                        <span>Виртуальный тур по салону</span>
                                    </a>
                                    <div class="phones-block-contacts">
                                        <div class="phones-block-contacts__column">
                                            <div class="phones-block-contacts__title">
                                                Телефон салона:
                                            </div>
                                            <div class="phones-block-contacts__item">
                                                <a href="tel:89384909333">
                                                    <div class="phones-block-contacts__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#phone-call"></use>
                                                        </svg>
                                                    </div>
                                                    <span>8 (938) 49-09-333</span>
                                                </a>
                                                <a href="tel:89298324979">
                                                    <div class="phones-block-contacts__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#phone-call"></use>
                                                        </svg>
                                                    </div>
                                                    <span>8 (929) 83-24-979 </span>
                                                </a>
                                                <a href="tel:89384309333">
                                                    <div class="phones-block-contacts__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#phone-call"></use>
                                                        </svg>
                                                    </div>
                                                    <span>8 (938) 43-09-333</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="phones-block-contacts__column">
                                            <div class="phones-block-contacts__title">
                                                Телефон сервиса:
                                            </div>
                                            <div class="phones-block-contacts__item">
                                                <a href="tel:89384909222">
                                                    <div class="phones-block-contacts__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#phone-call"></use>
                                                        </svg>
                                                    </div>
                                                    <span>8 (938) 49-09-222</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="map2" data-hint="Форсаж" data-center='[45.038184, 39.085923]' data-zoom="15"
                                class="block-contacts__map"></div>
                        </div>
                        <div class="block-contacts__column">
                            <div class="block-contacts__body">
                                <div class="block-contacts__left">
                                    <div class="block-contacts__name">Краснодар</div>
                                    <div class="block-contacts__title">
                                        Салон на<br> Дзержинского
                                    </div>
                                    <div class="block-contacts__address">
                                        г. Краснодар, ул. Дзержинского, 239
                                        <br>
                                        09:00 - 19:00 Без выходных
                                    </div>
                                    <a href="#" class="block-contacts__rating">
                                        <img loading="lazy" src="img/image29.webp" alt="">
                                    </a>
                                </div>
                                <div class="block-contacts__right">
                                    <div class="block-contacts__gallery">
                                        <a data-fancybox="gallery4" href="img/image38.webp">
                                            <img loading="lazy" src="img/image38.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery4" href="img/image39.webp">
                                            <img loading="lazy" src="img/image39.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery4" href="img/image40.webp">
                                            <img loading="lazy" src="img/image40.webp" alt="">
                                        </a>
                                        <a data-fancybox="gallery4" href="img/image41.webp">
                                            <img loading="lazy" src="img/image41.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="#" class="block-contacts__tour-virtual">
                                        <svg aria-hidden="true" width="18" height="18">
                                            <use xlink:href="img/sprite.svg#tour-virtual"></use>
                                        </svg>
                                        <span>Виртуальный тур по салону</span>
                                    </a>
                                    <div class="phones-block-contacts">
                                        <div class="phones-block-contacts__column">
                                            <div class="phones-block-contacts__title">
                                                Телефон салона:
                                            </div>
                                            <div class="phones-block-contacts__item">
                                                <a href="tel:89384060003">
                                                    <div class="phones-block-contacts__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#phone-call"></use>
                                                        </svg>
                                                    </div>
                                                    <span>8 (938) 406-00-03</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="phones-block-contacts__column">
                                            <div class="phones-block-contacts__title">
                                                Телефон сервиса:
                                            </div>
                                            <div class="phones-block-contacts__item">
                                                <a href="tel:89384830003">
                                                    <div class="phones-block-contacts__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#phone-call"></use>
                                                        </svg>
                                                    </div>
                                                    <span>8 (938) 483-00-03</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="map3" data-hint="Форсаж" data-center='[45.120026, 38.985275]' data-zoom="15"
                                class="block-contacts__map"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-info">
                <div class="container">
                    <div class="block-info__content">
                        <div class="block-info__column">
                            <h2 class="title2">
                                Реквизиты<br> ООО «Форсаж»
                            </h2>
                            <div class="block-info__descr">
                                <p>
                                    ИНН 2304059426
                                </p>
                                <p>
                                    КПП 230401001
                                </p>
                                <p>
                                    ОГРН 1112304000247
                                </p>
                                <p>
                                    Расчетный счет 40702810006080000693
                                </p>
                                <p>
                                    Банк: ФИЛИАЛ "ЦЕНТРАЛЬНЫЙ" БАНКА ВТБ (ПАО)
                                </p>
                                <p>
                                    БИК 044525411
                                </p>
                                <p>
                                    Корреспондентский счет 30101810145250000411
                                </p>
                                <p>
                                    Юридический адрес: 353466, Краснодарский край,
                                </p>
                                <p>
                                    г. Геленджик, проезд Пограничный, д.12
                                </p>
                                <p>
                                    Фактический адрес: 353466, Краснодарский край,
                                </p>
                                <p>
                                    г. Геленджик, проезд Пограничный, д.12
                                </p>
                                <p>
                                    Директор: Петросян Альберт Тигранович
                                </p>
                                <p>
                                    Оплата наличными, картой и перечислением для юр лиц.
                                </p>
                                <p>
                                    Доставка по Краснодарскому краю по договорённости.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <script
        src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&amp;lang=ru_RU&amp;_v=20240623012845&amp;_v=20250429150847"></script>
    {% include 'blocks/scripts.njk' %}
</body>

</html>