<!DOCTYPE html>
<html lang="ru">

<head>
    <title>404</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-error">
                <img src="img/image49.webp" alt="" class="block-error__pic1">
                <img src="img/404.webp" alt="" class="block-error__pic2">
                <div class="container">
                    <h1 class="title1">
                        Что-то сломалось
                    </h1>
                    <a href="#" class="block-error__btn">Вернуться на главную</a>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>