<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="block-intro block1">
				<div class="container">
					<div class="block-intro__content">
						<div class="top-block-intro">
							<div class="top-block-intro__slider swiper">
								<div class="top-block-intro__wrapper swiper-wrapper">
									<a href="#" class="top-block-intro__slide swiper-slide">
										<img src="img/image1.webp" alt="">
									</a>
									<a href="#" class="top-block-intro__slide swiper-slide">
										<img src="img/image1.webp" alt="">
									</a>
									<a href="#" class="top-block-intro__slide swiper-slide">
										<img src="img/image1.webp" alt="">
									</a>
									<a href="#" class="top-block-intro__slide swiper-slide">
										<img src="img/image1.webp" alt="">
									</a>
									<a href="#" class="top-block-intro__slide swiper-slide">
										<img src="img/image1.webp" alt="">
									</a>
									<a href="#" class="top-block-intro__slide swiper-slide">
										<img src="img/image1.webp" alt="">
									</a>
								</div>
							</div>
							<div class="top-block-intro__pagination pagination"></div>
						</div>
						<div class="center-block-intro">
							<div class="center-block-intro__slider swiper">
								<div class="center-block-intro__wrapper swiper-wrapper">
									<a href="files/videos/video.mp4" data-fancybox="videos1"
										class="center-block-intro__slide swiper-slide">
										<div class="center-block-intro__image">
											<img src="img/image2.webp" alt="">
										</div>
										<p>
											Экспедиция
											<br>
											в горы
										</p>
									</a>
									<a href="files/videos/video.mp4" data-fancybox="videos1"
										class="center-block-intro__slide swiper-slide">
										<div class="center-block-intro__image">
											<img src="img/image3.webp" alt="">
										</div>
										<p>
											Запись<br> в сервис
										</p>
									</a>
									<a href="files/videos/video.mp4" data-fancybox="videos1"
										class="center-block-intro__slide swiper-slide">
										<div class="center-block-intro__image">
											<img src="img/image4.webp" alt="">
										</div>
										<p>
											Проведение<br> мероприятия
										</p>
									</a>
									<a href="files/videos/video.mp4" data-fancybox="videos1"
										class="center-block-intro__slide swiper-slide">
										<div class="center-block-intro__image">
											<img src="img/image5.webp" alt="">
										</div>
										<p>
											Оформление<br> мотоцикла
										</p>
									</a>
									<a href="files/videos/video.mp4" data-fancybox="videos1"
										class="center-block-intro__slide swiper-slide">
										<div class="center-block-intro__image">
											<img src="img/image6.webp" alt="">
										</div>
										<p>
											Техника<br> в наличии
										</p>
									</a>
									<a href="files/videos/video.mp4" data-fancybox="videos1"
										class="center-block-intro__slide swiper-slide">
										<div class="center-block-intro__image">
											<img src="img/image7.webp" alt="">
										</div>
										<p>
											Экспедиция<br> в горы
										</p>
									</a>
									<a href="files/videos/video.mp4" data-fancybox="videos1"
										class="center-block-intro__slide swiper-slide">
										<div class="center-block-intro__image">
											<img src="img/image7.webp" alt="">
										</div>
										<p>
											Экспедиция<br> в горы
										</p>
									</a>
								</div>
							</div>
							<div class="center-block-intro__arrow-prev arrow-prev">
								<svg aria-hidden="true" width="25" height="10">
									<use xlink:href="img/sprite.svg#arrow2"></use>
								</svg>
							</div>
							<div class="center-block-intro__arrow-next arrow-next">
								<svg aria-hidden="true" width="25" height="10">
									<use xlink:href="img/sprite.svg#arrow2"></use>
								</svg>
							</div>
						</div>
						<div class="bottom-block-intro">
							<div class="bottom-block-intro__column">
								<div class="bottom-block-intro__image">
									<img loading="lazy" src="img/icon/icon1.svg" alt="">
								</div>
								<div class="bottom-block-intro__text">
									<div class="bottom-block-intro__title">
										Быстрая<br> доставка
									</div>
									<p>
										Отправим технику в любую точку России за 3–7 дней или подготовим к самовывозу в
										день заказа
									</p>
								</div>
							</div>
							<div class="bottom-block-intro__column">
								<div class="bottom-block-intro__image">
									<img loading="lazy" src="img/icon/icon2.svg" alt="">
								</div>
								<div class="bottom-block-intro__text">
									<div class="bottom-block-intro__title">
										Свой<br> сервисный центр
									</div>
									<p>
										Обслуживание и ремонт
										с использованием оригинальных запчастей. Онлайн-запись и гарантия
									</p>
								</div>
							</div>
							<div class="bottom-block-intro__column">
								<div class="bottom-block-intro__image">
									<img loading="lazy" src="img/icon/icon3.svg" alt="">
								</div>
								<div class="bottom-block-intro__text">
									<div class="bottom-block-intro__title">
										Trade-in<br> и рассрочка
									</div>
									<p>
										Сдайте старую технику в зачёт новой или купитебез переплат
									</p>
								</div>
							</div>
							<div class="bottom-block-intro__column">
								<div class="bottom-block-intro__image">
									<img loading="lazy" src="img/icon/icon4.svg" alt="">
								</div>
								<div class="bottom-block-intro__text">
									<div class="bottom-block-intro__title">
										Техника<br> в наличии
									</div>
									<p>
										Реальные остатки
										по складам. Забирайте
										в день заказа
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-section1 block2">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">
							Всё, что нужно для скорости, надёжности и драйва
						</h2>
						<p>Квадроциклы, мотоциклы, экипировка, аксессуары, запчасти и тюнинг. Мы собрали всё в одном
							месте, чтобы вы могли выбрать и уехать на новой технике уже сегодня.</p>
					</div>
					<div class="block-section1__content">
						<div class="block-section1__cards">
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image11.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__title">Квадроциклы</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image12.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__title">Мотоциклы</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image13.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__title">Экипировка</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image14.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__title">ТЕХНИКА Б/У</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image15.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__title">Аксессуары</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image16.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__title">Запчасти</div>
							</a>
						</div>
						<a href="#" class="block-section1__button btn">Весь каталог</a>
					</div>
				</div>
			</div>

			<div class="block-section1 block-section2 block3">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">
							Горячие предложения
							и спецакции
							<img loading="lazy" src="img/icon/flame.svg" alt="">
						</h2>
						<p>
							Не упустите шанс купить технику и аксессуары по особым условиям. Скидки, подарки и
							специальные предложения — только ограниченное время. Забирайте свою выгоду уже сегодня!
						</p>
					</div>
					<div class="block-section1__content">
						<div class="block-section1__cards">
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image17.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__text">
									<div class="block-section1__name">
										100 000 квадроциклов CFMOTO продано в России!
									</div>
									<div class="block-section1__arrow">
										<svg aria-hidden="true" width="17" height="15">
											<use xlink:href="img/sprite.svg#arrow3"></use>
										</svg>
									</div>
								</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image18.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__text">
									<div class="block-section1__name">
										100 000 квадроциклов CFMOTO продано в России!
									</div>
									<div class="block-section1__arrow">
										<svg aria-hidden="true" width="17" height="15">
											<use xlink:href="img/sprite.svg#arrow3"></use>
										</svg>
									</div>
								</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image19.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__text">
									<div class="block-section1__name">
										100 000 квадроциклов CFMOTO продано в России!
									</div>
									<div class="block-section1__arrow">
										<svg aria-hidden="true" width="17" height="15">
											<use xlink:href="img/sprite.svg#arrow3"></use>
										</svg>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			{% include 'blocks/forms.njk' %}

			<div class="block-benefits1 block2">
				<img loading="lazy" src="img/image23.webp" alt="" class="block-benefits1__bg1">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">
							Сеть мотоцентров
							<img loading="lazy" src="img/icon/logo3.svg" alt="">
						</h2>
						<p>
							«Форсаж» — это больше, чем магазин техники. Мы живём мотоспортом и знаем, что важно каждому
							владельцу квадроцикла или мотоцикла.
						</p>
					</div>
					<div class="block-benefits1__content">
						<div class="block-benefits1__body">
							<div class="block-benefits1__column">
								<div class="block-benefits1__title">10 <span>тыс.</span></div>
								<p>
									квадроциклов и мотоциклов продано по всей России
								</p>
							</div>
							<div class="block-benefits1__column">
								<div class="block-benefits1__title">15 <span>лет</span></div>
								<p>
									на рынке мототехники
								</p>
							</div>
							<div class="block-benefits1__column">
								<div class="block-benefits1__title">12 <span>салонов</span></div>
								<p>
									на рынке мототехники
								</p>
							</div>
							<div class="block-benefits1__column">
								<div class="block-benefits1__title">50 <span>тыс.</span></div>
								<p>
									Клиентов доверили нам выбор техники и аксессуаров
								</p>
							</div>
							<div class="block-benefits1__column">
								<div class="block-benefits1__title">98 <span class="fz2">%</span></div>
								<p>
									клиентов
									рекомендуют нас
								</p>
							</div>
							<div class="block-benefits1__column">
								<div class="block-benefits1__title">5</div>
								<p>
									брендов
									представлено
									в шоурумах
								</p>
							</div>
						</div>
						<div class="block-benefits1__image">
							<img src="img/image22.webp" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="block-section1 block-section3 block3">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">
							Будьте в курсе
							событий Forsage
						</h2>
						<div class="socials">
							<a href="#">
								<img src="img/icon/vk1.svg" alt="">
							</a>
							<a href="#">
								<img src="img/icon/telegram1.svg" alt="">
							</a>
							<a href="#">
								<img src="img/icon/zen1.svg" alt="">
							</a>
						</div>
					</div>
					<div class="block-section1__content">
						<div class="block-section1__cards">
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image17.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__text">
									<div class="block-section1__name">
										Сбор заявок на новый тур поход с 14 октября
									</div>
									<div class="block-section1__arrow">
										<svg aria-hidden="true" width="17" height="15">
											<use xlink:href="img/sprite.svg#arrow3"></use>
										</svg>
									</div>
								</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image18.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__text">
									<div class="block-section1__name">
										Открытие нового филиала
										в г. Геленджик
									</div>
									<div class="block-section1__arrow">
										<svg aria-hidden="true" width="17" height="15">
											<use xlink:href="img/sprite.svg#arrow3"></use>
										</svg>
									</div>
								</div>
							</a>
							<a href="#" class="block-section1__card">
								<img loading="lazy" src="img/image19.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__text">
									<div class="block-section1__name">
										Нам 10 лет! Отмечаем скидкой в 20% на тех. обслуживание
									</div>
									<div class="block-section1__arrow">
										<svg aria-hidden="true" width="17" height="15">
											<use xlink:href="img/sprite.svg#arrow3"></use>
										</svg>
									</div>
								</div>
							</a>
						</div>
						<a href="#" class="block-section1__button btn">Все новости</a>
					</div>
				</div>
			</div>

			{% include 'blocks/sale.njk' %}

			<div class="block-section1 block-section4 block3">
				<img src="img/image25.webp" alt="" class="block-section1__bg1">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">
							В кадре — настоящие приключения с Forsage
						</h2>
						<p>
							Отправляйтесь с нами в горные маршруты, туры и покатушки. Вдохновляйтесь видео с реальных
							поездок и открывайте для себя новые возможности мото- и квадротехники.
						</p>
					</div>
					<div class="block-section1__content">
						<div class="block-section1__cards">
							<a data-fancybox="gallery1" href="files/videos/video.mp4" class="block-section1__card">
								<img loading="lazy" src="img/image17.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__icon">
									<div class="play">
										<svg aria-hidden="true" width="15" height="16">
											<use xlink:href="img/sprite.svg#play"></use>
										</svg>
									</div>
									<div class="block-section1__logo">
										<img loading="lazy" src="img/icon/logo4.svg" alt="">
									</div>
								</div>
							</a>
							<a data-fancybox="gallery1" href="files/videos/video.mp4" class="block-section1__card">
								<img loading="lazy" src="img/image19.webp" alt="" class="block-section1__pic1">
								<div class="block-section1__icon">
									<div class="play">
										<svg aria-hidden="true" width="15" height="16">
											<use xlink:href="img/sprite.svg#play"></use>
										</svg>
									</div>
									<div class="block-section1__logo">
										<img loading="lazy" src="img/icon/logo4.svg" alt="">
									</div>
								</div>
							</a>
						</div>
						<a href="#" class="block-section1__button btn">Смотреть все видео</a>
					</div>
				</div>
			</div>

			<div class="block-section1 block-section5 block2">
				<div class="container">
					<div class="block-section1__body">
						<div class="heading-complex">
							<h2 class="title2">
								Присоединяйтесь к нашим заездам и походам
							</h2>
							<p>
								Forsage — это сообщество людей, которые любят технику и активный отдых. Мы организуем
								клубные покатушки, горные маршруты, тест-драйвы и корпоративные поездки.
								Выберите событие и присоединяйтесь к команде.
							</p>
						</div>
						<div class="block-section1__content">
							<div class="block-section1__cards">
								<a href="#" class="block-section1__card">
									<img loading="lazy" src="img/event/image1.webp" alt="" class="block-section1__pic1">
								</a>
								<a href="#" class="block-section1__card">
									<img loading="lazy" src="img/event/image2.webp" alt="" class="block-section1__pic1">
								</a>
								<a href="#" class="block-section1__card">
									<img loading="lazy" src="img/event/image3.webp" alt="" class="block-section1__pic1">
								</a>
							</div>
							<a href="#" class="block-section1__button btn">Все мероприятия</a>
						</div>
					</div>
				</div>
			</div>

			{% include 'blocks/block-contacts.njk' %}

			{% include 'blocks/block-reviews.njk' %}

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/scripts.njk' %}
</body>

</html>