<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Информационная страница</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <svg aria-hidden="true" width="12" height="8">
                                    <use xlink:href="img/sprite.svg#arrow4"></use>
                                </svg>
                            </a>
                        </li>
                        <li><span>Сервисный центр Forsage</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-info block-info2">
                <div class="container">
                    <div class="block-info__content">
                        <div class="block-info__column">
                            <h2 class="title2">
                                Сервисный<br> центр Forsage
                            </h2>
                            <div class="block-info__descr">
                                <p>
                                    Торгово-сервисный центр FORSAGE всегда рад предложить Вам не только продажу квадро и
                                    мототехники, но и последующее ее качественное сервисное и техническое обслуживание.
                                </p>
                                <p>
                                    Вашему квадроциклу требуется ремонт? А может быть, вы хотите сделать тюнинг,
                                    заменить элементы управления, расширить комплектацию, попутно поменяв износившиеся
                                    или вышедшие из строя детали? Теперь, чтобы выполнить все эти работы, не нужно
                                    искать комплектующие, а затем «колдовать» над квадроциклом, вооружившись сварочным
                                    аппаратом. Все, что вам нужно, сделают квалифицированные специалисты сервисного
                                    центра FORSAGE.
                                </p>
                                <p>
                                    В нашем  специализированном  сервисном центре мы предлагаем  широкий спектр услуг.
                                    Сервис-центр проводит гарантийное обслуживание и в случае необходимости – ремонт по
                                    гарантии мототехники. Ремонт и техническое обслуживание лодочных моторов. Мотор –
                                    сердце лодки или катера, поэтому вовремя выполненный ремонт способен не только
                                    продлить жизнь силовому агрегату, но и улучшить скоростные качества, надежность, а
                                    значит, подарить вам новые впечатления от прогулок по воде.
                                </p>
                                <p>
                                    Мы принимаем активное участие в соревнованиях по Off-road в классе ATV,  и поэтому
                                    не понаслышке знаем, что необходимо к установке и доработке в штатной комплектации
                                    любого квадроцикла.
                                </p>
                                <p>
                                    Какие бы задачи перед вами ни стояли – от замены масла до максимального преображения
                                    квадроцикла – мы найдем пути претворить все ваши задумки в жизнь.
                                </p>
                                <p>
                                    Мы предложим Вам оптимально удобную цену за ремонт, диагностику и дадим гарантию на
                                    все виды работ.
                                </p>
                            </div>
                        </div>
                        <div class="block-info__column">
                            <h2 class="title2">
                                Виды работ сервисного центра «FORSAGE» :
                            </h2>
                            <div class="block-info__descr">
                                <ul>
                                    <li>
                                        <p>
                                            Комплексное техническое обслуживание квадроциклов, мотоциклов, гидроциклов
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Отдельные ремонтные и сервисные работы (замена колодок, рулевой тяги,
                                            переборка
                                            двигателя, промывка радиатора и другие);
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Установка аксессуаров и дополнительного оборудования (кофр, подогрев ручек,
                                            дополнительный бампер и т.д.)
                                        </p>
                                    </li>
                                </ul>
                                <p>
                                    При необходимости мы доставим квадроцикл к месту ремонта и обратно, окажем услуги по
                                    временному хранению вашего квадроцикла.
                                </p>
                            </div>
                        </div>
                        <div class="block-info__column">
                            <h2 class="title2">
                                В основные работы по подготовке квадроцикла к тяжелому бездорожью входят:
                            </h2>
                            <div class="block-info__descr">
                                <ul>
                                    <li>
                                        <p>
                                            Установка лебедок  вперед и назад
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Вывод шноркелей
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Вынос радиатора
                                        </p>
                                    </li>
                                    <li>
                                        <p>Стапельные работы</p>
                                    </li>
                                    <li>
                                        <p>Перенос выхлопной трубы</p>
                                    </li>
                                    <li>
                                        <p>Изготовление и установка дополнительных защит</p>
                                    </li>
                                    <li>
                                        <p>Изготовление и установка "кенгурятников"</p>
                                    </li>
                                    <li>
                                        <p>Установка грязевых колес</p>
                                    </li>
                                    <li>
                                        <p>Установка дополнительной оптики, xenon</p>
                                    </li>
                                    <li>
                                        <p>и т.д.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-info__column">
                            <h2 class="title2">
                                Наши преимущества:
                            </h2>
                            <div class="block-info__descr">
                                <ul>
                                    <li>
                                        <p>
                                            Высокий уровень качества работ, его соответствие стандартам и потребностям
                                            клиента;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Возможность доставки техники на сервис и обратно транспортом сервисного
                                            центра;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Быстрые сроки исполнения;
                                        </p>
                                    </li>
                                    <li>
                                        <p>Гарантия на выполненные работы 30 дней;</p>
                                    </li>
                                    <li>
                                        <p>
                                            Наши сотрудники всегда проконсультируют о правилах эксплуатации техники;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Специалисты нашего сервисного центра увлечены мототехникой и сами являются
                                            пользователями, поэтому всегда помогут советом.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-info__column">
                            <h2 class="title2">
                                ТЕЛЕФОН СЕРВИСА:
                            </h2>
                            <div class="block-info__descr">
                                <ul>
                                    <li>
                                        <p>
                                            г. Геленджик: <a href="tel:89280362220">8 928 036 22 20</a> (WhatsApp Viber)
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            г. Краснодар: <a href="tel:89384909222">8 938 49 09 222</a> (WhatsApp Viber)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>