<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Запчасти</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <svg aria-hidden="true" width="12" height="8">
                                    <use xlink:href="img/sprite.svg#arrow4"></use>
                                </svg>
                            </a>
                        </li>
                        <li><span>Запчасти</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-parts">
                <div class="container">
                    <div class="block-parts__content">
                        <h1 class="title2">Система выпуска</h1>
                        <a href="img/image48.webp" data-fancybox="gallery6" class="block-parts__image">
                            <img src="img/image48.webp" alt="">
                            <div class="block-parts__zoom">
                                <svg aria-hidden="true" width="19" height="19">
                                    <use xlink:href="img/sprite.svg#search"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="block-parts__body">
                            <div class="block-parts__tables">
                                <div class="block-parts__table main">
                                    <div class="block-parts__item block-parts__item1">Схема</div>
                                    <div class="block-parts__item block-parts__item2">Запчасть</div>
                                    <div class="block-parts__item pc block-parts__item3">Артикул</div>
                                    <div class="block-parts__item block-parts__item4">Фото</div>
                                    <div class="block-parts__item block-parts__item5">Цена</div>
                                    <div class="block-parts__item pc block-parts__item6"></div>
                                </div>
                                <div class="block-parts__table">
                                    <div class="block-parts__item strong block-parts__item1">1</div>
                                    <div class="block-parts__item strong block-parts__item2">
                                        <a href="#">Датчик кислорода</a>
                                        <div class="block-parts__item mob">Артикул: 0HU0-176000</div>
                                        <div class="block-parts__item block-parts__item_buttons mob">
                                            <button type="button" class="btn">В корзину</button>
                                            <button type="button" class="btn-grey">Быстрый заказ</button>
                                        </div>
                                    </div>
                                    <div class="block-parts__item pc block-parts__item3">0HU0-176000</div>
                                    <div class="block-parts__item block-parts__item4">
                                        <a href="#">
                                            <svg aria-hidden="true" width="26" height="26">
                                                <use xlink:href="img/sprite.svg#camera"></use>
                                            </svg></a>
                                    </div>
                                    <div class="block-parts__item strong block-parts__item5">11 490 ₽</div>
                                    <div class="block-parts__item block-parts__item_buttons pc block-parts__item6">
                                        <button type="button" class="btn">В корзину</button>
                                        <button type="button" class="btn-grey">Быстрый заказ</button>
                                    </div>
                                </div>
                                <div class="block-parts__table">
                                    <div class="block-parts__item strong block-parts__item1">2</div>
                                    <div class="block-parts__item strong block-parts__item2">
                                        <a href="#">Кронштейн приемной части глушителя</a>
                                        <div class="block-parts__item mob">Артикул: 9GQ0-020001-00003</div>
                                        <div class="block-parts__item block-parts__item_buttons mob">
                                            <button type="button" class="btn">В корзину</button>
                                            <button type="button" class="btn-grey">Быстрый заказ</button>
                                        </div>
                                    </div>
                                    <div class="block-parts__item pc block-parts__item3">9GQ0-020001-00003</div>
                                    <div class="block-parts__item block-parts__item4">
                                        <a href="#">
                                            <svg aria-hidden="true" width="26" height="26">
                                                <use xlink:href="img/sprite.svg#camera"></use>
                                            </svg></a>
                                    </div>
                                    <div class="block-parts__item strong block-parts__item5">427 ₽</div>
                                    <div class="block-parts__item block-parts__item_buttons pc block-parts__item6">
                                        <button type="button" class="btn">В корзину</button>
                                        <button type="button" class="btn-grey">Быстрый заказ</button>
                                    </div>
                                </div>
                                <div class="block-parts__table">
                                    <div class="block-parts__item strong block-parts__item1">3</div>
                                    <div class="block-parts__item strong block-parts__item2">
                                        <a href="#">Приемная труба выпускной системы</a>
                                        <div class="block-parts__item mob">Артикул: 9DS#-021100-6000</div>
                                        <div class="block-parts__item block-parts__item_buttons mob">
                                            <button type="button" class="btn">В корзину</button>
                                            <button type="button" class="btn-grey">Быстрый заказ</button>
                                        </div>
                                    </div>
                                    <div class="block-parts__item pc block-parts__item3">9DS#-021100-6000</div>
                                    <div class="block-parts__item block-parts__item4">
                                        <a href="#">
                                            <svg aria-hidden="true" width="26" height="26">
                                                <use xlink:href="img/sprite.svg#camera"></use>
                                            </svg></a>
                                    </div>
                                    <div class="block-parts__item strong block-parts__item5">12 301 ₽</div>
                                    <div class="block-parts__item block-parts__item_buttons pc block-parts__item6">
                                        <button type="button" class="btn">В корзину</button>
                                        <button type="button" class="btn-grey">Быстрый заказ</button>
                                    </div>
                                </div>
                                <div class="block-parts__table">
                                    <div class="block-parts__item strong block-parts__item1">4</div>
                                    <div class="block-parts__item strong block-parts__item2">
                                        <a href="#">Теплоизолятор глушитля верхний</a>
                                        <div class="block-parts__item mob">Артикул: 9DS#-021101-6000</div>
                                        <div class="block-parts__item block-parts__item_buttons mob">
                                            <button type="button" class="btn">В корзину</button>
                                            <button type="button" class="btn-grey">Быстрый заказ</button>
                                        </div>
                                    </div>
                                    <div class="block-parts__item pc block-parts__item3">9DS#-021101-6000</div>
                                    <div class="block-parts__item block-parts__item4">
                                        <a href="#">
                                            <svg aria-hidden="true" width="26" height="26">
                                                <use xlink:href="img/sprite.svg#camera"></use>
                                            </svg></a>
                                    </div>
                                    <div class="block-parts__item strong block-parts__item5">854 ₽</div>
                                    <div class="block-parts__item block-parts__item_buttons pc block-parts__item6">
                                        <button type="button" class="btn">В корзину</button>
                                        <button type="button" class="btn-grey">Быстрый заказ</button>
                                    </div>
                                </div>
                                <div class="block-parts__table">
                                    <div class="block-parts__item strong block-parts__item1">5</div>
                                    <div class="block-parts__item strong block-parts__item2">
                                        <a href="#">Тепловой экранглушителя верхний</a>
                                        <div class="block-parts__item mob">Артикул: 9DS#-021100-6000-20</div>
                                        <div class="block-parts__item block-parts__item_buttons mob">
                                            <button type="button" class="btn">В корзину</button>
                                            <button type="button" class="btn-grey">Быстрый заказ</button>
                                        </div>
                                    </div>
                                    <div class="block-parts__item pc block-parts__item3">9DS#-021100-6000-20</div>
                                    <div class="block-parts__item block-parts__item4">
                                        <a href="#">
                                            <svg aria-hidden="true" width="26" height="26">
                                                <use xlink:href="img/sprite.svg#camera"></use>
                                            </svg></a>
                                    </div>
                                    <div class="block-parts__item strong block-parts__item5">470 ₽</div>
                                    <div class="block-parts__item block-parts__item_buttons pc block-parts__item6">
                                        <button type="button" class="btn">В корзину</button>
                                        <button type="button" class="btn-grey">Быстрый заказ</button>
                                    </div>
                                </div>
                                <div class="block-parts__table">
                                    <div class="block-parts__item strong block-parts__item1">6</div>
                                    <div class="block-parts__item strong block-parts__item2">
                                        <a href="#">Хомут</a>
                                        <div class="block-parts__item mob">Артикул: 7030-021305</div>
                                        <div class="block-parts__item block-parts__item_buttons mob">
                                            <button type="button" class="btn">В корзину</button>
                                            <button type="button" class="btn-grey">Быстрый заказ</button>
                                        </div>
                                    </div>
                                    <div class="block-parts__item pc block-parts__item3">7030-021305</div>
                                    <div class="block-parts__item block-parts__item4">
                                        <a href="#">
                                            <svg aria-hidden="true" width="26" height="26">
                                                <use xlink:href="img/sprite.svg#camera"></use>
                                            </svg></a>
                                    </div>
                                    <div class="block-parts__item strong block-parts__item5">131 ₽</div>
                                    <div class="block-parts__item block-parts__item_buttons pc block-parts__item6">
                                        <button type="button" class="btn">В корзину</button>
                                        <button type="button" class="btn-grey">Быстрый заказ</button>
                                    </div>
                                </div>
                                <div class="block-parts__table">
                                    <div class="block-parts__item strong block-parts__item1">7</div>
                                    <div class="block-parts__item strong block-parts__item2">
                                        <a href="#">Тепловой экран глушителя нижний</a>
                                        <div class="block-parts__item mob">Артикул: 9DS#-021100-6000-21</div>
                                        <div class="block-parts__item block-parts__item_buttons mob">
                                            <button type="button" class="btn">В корзину</button>
                                            <button type="button" class="btn-grey">Быстрый заказ</button>
                                        </div>
                                    </div>
                                    <div class="block-parts__item pc block-parts__item3">9DS#-021100-6000-21</div>
                                    <div class="block-parts__item block-parts__item4">
                                        <a href="#">
                                            <svg aria-hidden="true" width="26" height="26">
                                                <use xlink:href="img/sprite.svg#camera"></use>
                                            </svg></a>
                                    </div>
                                    <div class="block-parts__item strong block-parts__item5">470 ₽</div>
                                    <div class="block-parts__item block-parts__item_buttons pc block-parts__item6">
                                        <button type="button" class="btn">В корзину</button>
                                        <button type="button" class="btn-grey">Быстрый заказ</button>
                                    </div>
                                </div>
                                <div class="block-parts__table">
                                    <div class="block-parts__item strong block-parts__item1">8</div>
                                    <div class="block-parts__item strong block-parts__item2">
                                        <a href="#">Теплоизолятор глушитля нижний</a>
                                        <div class="block-parts__item mob">Артикул: 9DS#-021102-6000</div>
                                        <div class="block-parts__item block-parts__item_buttons mob">
                                            <button type="button" class="btn">В корзину</button>
                                            <button type="button" class="btn-grey">Быстрый заказ</button>
                                        </div>
                                    </div>
                                    <div class="block-parts__item pc block-parts__item3">9DS#-021102-6000</div>
                                    <div class="block-parts__item block-parts__item4">
                                        <a href="#">
                                            <svg aria-hidden="true" width="26" height="26">
                                                <use xlink:href="img/sprite.svg#camera"></use>
                                            </svg></a>
                                    </div>
                                    <div class="block-parts__item strong block-parts__item5">428 ₽</div>
                                    <div class="block-parts__item block-parts__item_buttons pc block-parts__item6">
                                        <button type="button" class="btn">В корзину</button>
                                        <button type="button" class="btn-grey">Быстрый заказ</button>
                                    </div>
                                </div>
                            </div>
                            {% include 'blocks/pagination.njk' %}
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>