<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка товара1</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main main-product-card">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <svg aria-hidden="true" width="12" height="8">
                                    <use xlink:href="img/sprite.svg#arrow4"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Каталог
                                <svg aria-hidden="true" width="12" height="8">
                                    <use xlink:href="img/sprite.svg#arrow4"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Квадроциклы
                                <svg aria-hidden="true" width="12" height="8">
                                    <use xlink:href="img/sprite.svg#arrow4"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Квадроциклы СFMOTO
                                <svg aria-hidden="true" width="12" height="8">
                                    <use xlink:href="img/sprite.svg#arrow4"></use>
                                </svg>
                            </a>
                        </li>
                        <li><span>CFMOTO CFORCE 600 Advanced EPS</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-intro block1">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="product-card-block-intro">
                            <div class="product-card-block-intro__left">
                                <h1 class="title2">
                                    CFMOTO CFORCE 600 Advanced EPS
                                </h1>
                                <p>
                                    Модель оснащена надёжным двигателем объёмом 580 см³ и мощностью 41 л.с., что
                                    обеспечивает уверенную динамику и тягу даже в сложных условиях.
                                </p>
                                <ul>
                                    <li>
                                        <div class="product-card-block-intro__name">
                                            Двигатель
                                        </div>
                                        <div class="product-card-block-intro__value">
                                            1000 см3
                                        </div>
                                    </li>
                                    <li>
                                        <div class="product-card-block-intro__name">
                                            Мощность
                                        </div>
                                        <div class="product-card-block-intro__value">
                                            90 л.с.
                                        </div>
                                    </li>
                                    <li>
                                        <div class="product-card-block-intro__name">
                                            Гарантия
                                        </div>
                                        <div class="product-card-block-intro__value">
                                            2 года
                                        </div>
                                    </li>
                                </ul>
                                <a href="#" class="btn">Записаться на тест-драйв</a>
                            </div>
                            <div class="product-card-block-intro__center">
                                <a href="#" class="product-card-block-intro__modal">
                                    <img src="img/icon/360.svg" alt="">
                                </a>
                                <div class="product-card-block-intro__images">
                                    <img src="img/image10.webp" alt="">
                                </div>
                                <div class="colors-product-card">
                                    <div class="colors-product-card__column">
                                        <div class="colors-product-card__colors">
                                            <button data-image="img/image9.webp" type="button"
                                                class="colors-product-card__btn">
                                                <span style="background: #6c7d65;"></span>
                                            </button>
                                            <button data-image="img/image10.webp" type="button"
                                                class="colors-product-card__btn">
                                                <span style="background: #144AAC;"></span>
                                            </button>
                                            <button data-image="img/image9.webp" type="button"
                                                class="colors-product-card__btn">
                                                <span style="background: #AC1417;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-product-card__title">базовые цвета</div>
                                    </div>
                                    <div class="colors-product-card__column">
                                        <div class="colors-product-card__colors">
                                            <button data-image="img/image9.webp" type="button"
                                                class="colors-product-card__btn">
                                                <span style="background: #d6682b;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-product-card__title">доп. цвета + 10.000 руб.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-block-intro__right">
                                <div class="product-card-block-intro__price">944 900₽</div>
                                <div class="product-card-block-intro__buttons">
                                    <a href="#" class="btn">Заказать</a>
                                    <a href="#" class="btn-border">Рассрочка 0%</a>
                                    <a href="#" class="btn-border">Кредитный калькулятор</a>
                                </div>
                                <div data-da=".block-intro__content, 992, 1" class="consultation-product-card">
                                    <div class="consultation-product-card__body">
                                        <img src="img/photo1.webp" alt="" class="consultation-product-card__photo">
                                        <div class="consultation-product-card__item">
                                            <div class="consultation-product-card__name">Алексей Смирнов</div>
                                            <p>
                                                Эксперт Forsage по квадроциклам и мотоциклам
                                            </p>
                                            <a href="#" data-da=".consultation-product-card, 992, last"
                                                class="btn">Получить консультацию</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-block-intro">
                            <div class="bottom-block-intro__column">
                                <div class="bottom-block-intro__image">
                                    <img loading="lazy" src="img/icon/icon1.svg" alt="">
                                </div>
                                <div class="bottom-block-intro__text">
                                    <div class="bottom-block-intro__title">
                                        Быстрая<br> доставка
                                    </div>
                                    <p>
                                        Отправим технику в любую точку России за 3–7 дней или подготовим к самовывозу в
                                        день заказа
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-block-intro__column">
                                <div class="bottom-block-intro__image">
                                    <img loading="lazy" src="img/icon/icon2.svg" alt="">
                                </div>
                                <div class="bottom-block-intro__text">
                                    <div class="bottom-block-intro__title">
                                        Свой<br> сервисный центр
                                    </div>
                                    <p>
                                        Обслуживание и ремонт
                                        с использованием оригинальных запчастей. Онлайн-запись и гарантия
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-block-intro__column">
                                <div class="bottom-block-intro__image">
                                    <img loading="lazy" src="img/icon/icon3.svg" alt="">
                                </div>
                                <div class="bottom-block-intro__text">
                                    <div class="bottom-block-intro__title">
                                        Trade-in<br> и рассрочка
                                    </div>
                                    <p>
                                        Сдайте старую технику в зачёт новой или купитебез переплат
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-block-intro__column">
                                <div class="bottom-block-intro__image">
                                    <img loading="lazy" src="img/icon/icon4.svg" alt="">
                                </div>
                                <div class="bottom-block-intro__text">
                                    <div class="bottom-block-intro__title">
                                        Техника<br> в наличии
                                    </div>
                                    <p>
                                        Реальные остатки
                                        по складам. Забирайте
                                        в день заказа
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section1 block-section2 block1">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title2">
                            Выбирай сейчас — получай бонус
                            <img loading="lazy" src="img/icon/flame.svg" alt="">
                        </h2>
                        <p>
                            Скидки до 50 000 ₽, подарки к каждой покупке<br>
                            и специальные предложения на квадроциклы<br>
                            и мотоциклы. Forsage делает выбор выгодным!
                        </p>
                    </div>
                    <div class="block-section1__content">
                        <div class="block-section1__cards">
                            <a href="#" class="block-section1__card">
                                <img loading="lazy" src="img/image17.webp" alt="" class="block-section1__pic1">
                                <div class="block-section1__text">
                                    <div class="block-section1__name">
                                        100 000 квадроциклов CFMOTO продано в России!
                                    </div>
                                    <div class="block-section1__arrow">
                                        <svg aria-hidden="true" width="17" height="15">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="block-section1__card">
                                <img loading="lazy" src="img/image18.webp" alt="" class="block-section1__pic1">
                                <div class="block-section1__text">
                                    <div class="block-section1__name">
                                        100 000 квадроциклов CFMOTO продано в России!
                                    </div>
                                    <div class="block-section1__arrow">
                                        <svg aria-hidden="true" width="17" height="15">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="block-section1__card">
                                <img loading="lazy" src="img/image19.webp" alt="" class="block-section1__pic1">
                                <div class="block-section1__text">
                                    <div class="block-section1__name">
                                        100 000 квадроциклов CFMOTO продано в России!
                                    </div>
                                    <div class="block-section1__arrow">
                                        <svg aria-hidden="true" width="17" height="15">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-gallery">
                <div class="container">
                    <div class="block-gallery__content">
                        <div class="block-gallery__arrow-prev arrow-prev">
                            <svg aria-hidden="true" width="19" height="8">
                                <use xlink:href="img/sprite.svg#arrow2"></use>
                            </svg>
                        </div>
                        <div class="block-gallery__slider-container">
                            <div class="block-gallery__slider swiper">
                                <div class="block-gallery__wrapper swiper-wrapper">
                                    <a data-fancybox="gallery8" href="img/image13.webp"
                                        class="block-gallery__slide swiper-slide">
                                        <img loading="lazy" src="img/image13.webp" alt="">
                                    </a>
                                    <a data-fancybox="gallery8" href="img/image11.webp"
                                        class="block-gallery__slide swiper-slide">
                                        <img loading="lazy" src="img/image11.webp" alt="">
                                    </a>
                                    <a data-fancybox="gallery8" href="img/image14.webp"
                                        class="block-gallery__slide swiper-slide">
                                        <img loading="lazy" src="img/image14.webp" alt="">
                                    </a>
                                </div>
                            </div>

                            <!-- Активный слайд поверх -->
                            <div class="block-gallery__active-slide">
                                <!-- Контент активного слайда будет добавляться динамически -->
                            </div>
                        </div>

                        <div class="block-gallery__pagination pagination"></div>
                        <div class="block-gallery__arrow-next arrow-next">
                            <svg aria-hidden="true" width="19" height="8">
                                <use xlink:href="img/sprite.svg#arrow2"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-video block1">
                <div class="container">
                    <a data-fancybox="gallery9" href="files/videos/video.mp4" class="block-video__item">
                        <img loading="lazy" src="img/image20.webp" alt="">
                        <div class="play">
                            <svg aria-hidden="true" width="29" height="32">
                                <use xlink:href="img/sprite.svg#play"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

            <div class="block-product-descr">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title2">CFMOTO CFORCE 600 Advanced EPS</h2>
                        <div class="heading-complex__right">
                            <div class="heading-complex__showmore">
                                <p>
                                    Спортивный вид нового CFORCE 110 удачно сочетается с производительностью. Компактный
                                    4-тактный двигатель SOHC объемом 107 куб. см с воздушным охлаждением и электрическим
                                    стартером обеспечивает достаточно высокую мощность, сравнимую с известными детскими
                                    спортивными квадроциклами. CFORCE 110 гарантирует стабильный крутящий момент,
                                    придающий
                                    ребёнку уверенности, особенно во время обучения, а малый вес способствует лучшей
                                    управляемости. Простой и надёжный бензиновый двигатель не требует частого
                                    обслуживания,
                                    так что останется больше времени на удовольствие от езды.
                                </p>
                                <div hidden class="heading-complex__more">
                                    <span>Показать еще</span>
                                    <span>Скрыть</span>
                                </div>
                            </div>
                            <a href="#" class="btn">Записаться на тест-драйв</a>
                        </div>
                    </div>
                    <div class="block-product-descr__content">
                        <div class="block-product-descr__body">
                            <div data-tabs class="tabs">
                                <nav data-tabs-titles class="tabs__navigation">
                                    <button type="button" class="tabs__title _tab-active">Силовой агрегат</button>
                                    <button type="button" class="tabs__title">Размеры</button>
                                    <button type="button" class="tabs__title">Шасси</button>
                                    <button type="button" class="tabs__title">Характеристики</button>
                                </nav>
                                <div data-tabs-body class="tabs__content">
                                    <div class="tabs__body">
                                        <ul>
                                            <li>
                                                <div class="tabs__name">Марка</div>
                                                <div class="tabs__value">191Q</div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Тип привода</div>
                                                <div class="tabs__value">
                                                    Одноцилиндровый, жидкостного охлаждения, четырёхтактный,
                                                    4-клапанный, с одним распределительным валом верхнего расположения
                                                    (SOHC)
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Охлаждение:</div>
                                                <div class="tabs__value">Жидкостное</div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Рабочий объем:</div>
                                                <div class="tabs__value">400 куб. см</div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Зажигание:</div>
                                                <div class="tabs__value">ECU</div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Стартер:</div>
                                                <div class="tabs__value">Электрический</div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Трансмиссия:</div>
                                                <div class="tabs__value">
                                                    Вариатор + КПП (L-H-N-R-P). Режимы работы: 2WD/4WD/4WD с блокировкой
                                                    дифференциала
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Степень сжатия:</div>
                                                <div class="tabs__value">10.3:1</div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Мощность:</div>
                                                <div class="tabs__value">22.5 кВт (31 л.с.) / 7200 об/мин</div>
                                            </li>
                                            <li>
                                                <div class="tabs__name">Макс. крутящий момент: </div>
                                                <div class="tabs__value">33 Н·м при 6000 об/мин</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tabs__body">
                                        <div class="tabs__text">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum,
                                                possimus ipsum odio repudiandae exercitationem rem ipsa id nam minus
                                                impedit molestias sequi. Corporis, facere molestias suscipit nisi sit
                                                iure nihil magnam aliquam autem commodi temporibus, tempore dignissimos
                                                odio fuga nesciunt aut possimus ab sed! Laudantium quam a nam ut.
                                            </p>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum,
                                                possimus ipsum odio repudiandae exercitationem rem ipsa id nam minus
                                                impedit molestias sequi. Corporis, facere molestias suscipit nisi sit
                                                iure nihil magnam aliquam autem commodi temporibus, tempore dignissimos
                                                odio fuga nesciunt aut possimus ab sed! Laudantium quam a nam ut.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tabs__body">
                                        <div class="tabs__text">
                                            <p>
                                                Содержимое третьего таба
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tabs__body">
                                        <div class="tabs__text">
                                            <p>
                                                Содержимое четвертого таба
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-product-descr__image">
                            <a href="#" class="block-product-descr__modal">
                                <img src="img/icon/360.svg" alt="">
                            </a>
                            <img src="img/image10.webp" alt="" class="block-product-descr__pic1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-configuration">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title2">Закажите свою конфигурацию</h2>
                        <div class="heading-complex__right">
                            <p>
                                Квадроцикл становится ещё удобнее и функциональнее с фирменными аксессуарами. Защитите
                                технику, улучшите освещение, возьмите больше груза — выберите комплектацию под себя.
                            </p>
                            <div class="heading-complex__filter">
                                <button type="button" data-filter="all" class="heading-complex__title active">Все
                                    (27)</button>
                                <button type="button" data-filter="product1" class="heading-complex__title">Кофры
                                    (1)</button>
                                <button type="button" data-filter="product2" class="heading-complex__title">Защита
                                    (9)</button>
                                <button type="button" data-filter="product3" class="heading-complex__title">Электрика
                                    (5)</button>
                                <button type="button" data-filter="product4" class="heading-complex__title">Бамперы и
                                    дуги (3)</button>
                                <button type="button" data-filter="product5" class="heading-complex__title">Прочее
                                    (4)</button>
                            </div>
                        </div>
                    </div>
                    <div class="block-configuration__content">
                        <div class="block-configuration__body">
                            <label data-filter="product1" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product2" class="checkbox-block-configuration">
                                <input checked class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product3" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product4" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product5" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product1" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product2" class="checkbox-block-configuration">
                                <input checked class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product3" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product4" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product5" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                            <label data-filter="product1" class="checkbox-block-configuration">
                                <input class="checkbox-block-configuration__input" type="checkbox" value="1"
                                    name="form[]">
                                <span class="checkbox-block-configuration__label">
                                    <span class="checkbox-block-configuration__item">
                                        <img loading="lazy" src="img/image52.webp" alt=""
                                            class="checkbox-block-configuration__pic1">
                                        <div class="checkbox-block-configuration__title">
                                            Передний кофр пластиковый
                                        </div>
                                        <div class="checkbox-block-configuration__price">
                                            18 500 ₽
                                        </div>
                                    </span>
                                    <span class="checkbox-block-configuration__icon">
                                        <svg aria-hidden="true" width="22" height="16">
                                            <use xlink:href="img/sprite.svg#check2"></use>
                                        </svg>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <a href="#" class="btn">Заказать за 156.279 руб</a>
                    </div>
                </div>
            </div>

            <div class="block-similar block2">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title2">Похожая техника</h2>
                        <p>
                            Сравните CFORCE 600 с другими моделями ивыберите оптимальный вариант под ваши цели.
                        </p>
                    </div>
                    <div class="block-similar__body">
                        <a href="#" class="block-similar__column">
                            <img loading="lazy" src="img/image10.webp" alt="" class="block-similar__pic1">
                            <div class="block-similar__item">
                                <div class="block-similar__title">
                                    CFMOTO CFORCE 600 Advanced EPS
                                </div>
                                <div class="block-similar__bottom">
                                    <div class="block-similar__price">902 500 ₽</div>
                                    <div class="block-similar__arrow">
                                        <svg aria-hidden="true" width="17" height="15">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="block-similar__column">
                            <img loading="lazy" src="img/image10.webp" alt="" class="block-similar__pic1">
                            <div class="block-similar__item">
                                <div class="block-similar__title">
                                    CFMOTO CFORCE 600 Advanced EPS
                                </div>
                                <div class="block-similar__bottom">
                                    <div class="block-similar__price">902 500 ₽</div>
                                    <div class="block-similar__arrow">
                                        <svg aria-hidden="true" width="17" height="15">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="block-similar__column">
                            <img loading="lazy" src="img/image10.webp" alt="" class="block-similar__pic1">
                            <div class="block-similar__item">
                                <div class="block-similar__title">
                                    CFMOTO CFORCE 600 Advanced EPS
                                </div>
                                <div class="block-similar__bottom">
                                    <div class="block-similar__price">902 500 ₽</div>
                                    <div class="block-similar__arrow">
                                        <svg aria-hidden="true" width="17" height="15">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="block-similar__column">
                            <img loading="lazy" src="img/image10.webp" alt="" class="block-similar__pic1">
                            <div class="block-similar__item">
                                <div class="block-similar__title">
                                    CFMOTO CFORCE 600 Advanced EPS
                                </div>
                                <div class="block-similar__bottom">
                                    <div class="block-similar__price">902 500 ₽</div>
                                    <div class="block-similar__arrow">
                                        <svg aria-hidden="true" width="17" height="15">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            {% include 'blocks/block-contacts.njk' %}

            {% include 'blocks/block-reviews.njk' %}


        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>