.card-previously {
    display: flex;
    align-items: center;
    gap: 11px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    padding: 0px 10px 0px 0px;
    @media (max-width: 480px) {
        gap: 5px;
    }
    &:hover {
        .card-previously__title {
            color: var(--theme-color-text-common1);
        }
    }
    // .card-previously__pic1

    &__pic1 {
        flex: 0 0 83px;
        width: 83px;
        height: 83px;
        border-radius: 10px;
        background-color: #fff;
    }

    // .card-previously__title

    &__title {
        transition: color 0.3s;
        font-weight: 600;
        font-size: 15px;
        line-height: 110%;
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.card-product {
    width: 100%;
    border-radius: 27px;
    background: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
        border-radius: 16px;
    }
    // .card-product__badges

    &__badges {
        position: absolute;
        top: 9px;
        left: 9px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        @media (max-width: 600px) {
            top: 5px;
            left: 5px;
            gap: 5px;
        }
    }

    // .card-product__badge

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        min-height: 30px;
        font-weight: 600;
        font-size: 13px;
        line-height: 120%;
        color: #fff;
        padding: 5px 10px;
        @media (max-width: 600px) {
            font-size: 7px;
            padding: 2px 6px;
            min-height: 18px;
            border-radius: 7px;
        }
    }

    // .card-product__image

    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        overflow: hidden;
        border-radius: 27px;
        height: 280px;
        border: 5px solid #f5f5f5;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media (max-width: 650px) {
            height: 250px;
        }
        @media (max-width: 600px) {
            border: 3px solid #f5f5f5;
            border-radius: 16px;
        }
        @media (max-width: 550px) {
            height: 168px;
        }
    }

    // .card-product__item

    &__item {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 13px 22px 23px 22px;
        @media (max-width: 600px) {
            padding: 8px 13px 13px 13px;
        }
        ul {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            gap: 7px;
            margin: 0px 0px 25px 0px;
            @media (max-width: 600px) {
                gap: 4px;
                margin: 0px 0px 15px 0px;
            }
            li {
                display: flex;
                gap: 7px;
                font-weight: 500;
                font-size: 13px;
                line-height: 120%;
                color: #232323;
                svg {
                    fill: #04bb5b;
                    margin: 3px 0px 0px 0px;
                    @media (max-width: 550px) {
                        margin: 2px 0px 0px 0px;
                        width: 9px;
                        height: 7px;
                    }
                }
                @media (max-width: 550px) {
                    font-size: 7px;
                    gap: 5px;
                }
            }
        }
    }

    // .card-product__title

    &__title {
        display: flex;
        font-weight: 700;
        font-size: 20px;
        line-height: 110%;
        color: #000;
        margin: 0px 0px 10px 0px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media (max-width: 550px) {
            font-size: 12px;
            margin: 0px 0px 6px 0px;
        }
    }

    // .card-product__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: flex-end;
    }

    // .card-product__prices

    &__prices {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    // .card-product__old-price

    &__old-price {
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        text-decoration: line-through;
        color: #232323;
        @media (max-width: 550px) {
            font-size: 7px;
        }
    }

    // .card-product__new-price

    &__new-price {
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
        color: #3f3f3f;
        @media (max-width: 550px) {
            font-size: 14px;
        }
        @media (max-width: 380px) {
            font-size: 12px;
        }
    }

    // .card-product__buttons

    &__buttons {
        display: flex;
        gap: 4px;
        @media (max-width: 550px) {
            gap: 2px;
        }
    }

    // .card-product__cart

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d6682b;
        border-radius: 10px;
        width: 30px;
        height: 30px;
        transition: opacity 0.3s;
        img {
            width: 14px;
            height: 14px;
            @media (max-width: 550px) {
                width: 8px;
                height: 8px;
            }
        }
        &:hover {
            opacity: 0.7;
        }
        @media (max-width: 550px) {
            border-radius: 6px;
            width: 18px;
            height: 18px;
        }
    }

    // .card-product__arrow

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dbdbdb;
        border-radius: 10px;
        width: 30px;
        height: 30px;
        transition: opacity 0.3s;
        svg {
            fill: #1b1b1b;
            @media (max-width: 550px) {
                width: 8px;
                height: 7px;
            }
        }
        &:hover {
            opacity: 0.7;
        }
        @media (max-width: 550px) {
            border-radius: 6px;
            width: 18px;
            height: 18px;
        }
    }
}
