body {
  color: var(--theme-color-accent);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  .lock & {
    overflow: hidden;
  }
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 125;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .search-open & {
    overflow: hidden;
  }
  .menu-open & {
    overflow: hidden;
  }
  .catalog-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.block1 {
  margin-bottom: 80px;
}

.block2 {
  margin-bottom: 90px;
  @media (max-width: 768px) {
    margin-bottom: 80px;
  }
}

.block3 {
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.block4 {
  margin-bottom: 30px;
}

.title1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 58px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 38px;
  }
}

.title2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 110%;
    img {
      display: none;
    }
  }
}

.btn {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #024bcf;
  font-weight: 600;
  font-size: 17px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  transition: opacity 0.3s;
  padding: 5px 20px;
  border-radius: 10px;
  &:hover {
    opacity: 0.7;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.btn-border {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 1px solid #c9c9c9;
  background-color: #f6f6f6;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #000;
  transition: background-color 0.3s;
  padding: 5px 20px;
  border-radius: 10px;
  &:hover {
    background-color: #c9c9c9;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.btn-grey {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #ececec;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #191919;
  transition: opacity 0.3s;
  padding: 5px 20px;
  border-radius: 10px;
  &:hover {
    opacity: 0.7;
  }
}

.heading-complex {
  position: relative;
  z-index: 15;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 77px;
  margin: 0px 77px 35px 0px;
  @media (max-width: 1240px) {
    margin: 0px 0px 35px 0px;
    gap: 30px;
  }
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  @media (max-width: 768px) {
    margin: 0px 0px 18px 0px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #111;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  .socials {
    gap: 20px;
    margin: 3px 0px 0px 0px;
    @media (max-width: 992px) {
      margin: 10px 0px 0px 0px;
      gap: 17px;
    }
    img {
      width: 49px;
      height: 49px;
      @media (max-width: 768px) {
        width: 44px;
        height: 44px;
      }
    }
  }

  // .heading-complex__socials

  &__socials {
    flex: 0 1 523px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px 0px 0px 0px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
      gap: 7px;
      margin: 0px 0px 0px 0px;
    }
    .socials {
      gap: 15px;
      img {
        width: 39px;
        height: 39px;
        filter: invert(0%) sepia(0%) saturate(15%) hue-rotate(10deg) brightness(95%) contrast(89%);
      }
    }
  }

  // .heading-complex__socials-title

  &__socials-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #111;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  // .heading-complex__logo

  &__logo {
    flex: 0 1 602px;
    width: 100%;
    height: auto;
    filter: invert(17%) sepia(37%) saturate(16%) hue-rotate(342deg) brightness(101%) contrast(85%);
    @media (max-width: 992px) {
      flex: 0 1 auto;
      width: 333px;
    }
    @media (max-width: 380px) {
      width: 100%;
    }
  }

  // .heading-complex__right

  &__right {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 0 0 600px;
    @media (max-width: 1240px) {
      flex: 0 1 600px;
    }
    @media (max-width: 992px) {
      flex: 1 1 auto;
    }
    .btn {
      font-size: 14px;
      width: 271px;
      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }

  // .heading-complex__filter

  &__filter {
    background: #f6f6f6;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    @media (max-width: 1240px) {
      flex-wrap: wrap;
      border-radius: 0px;
      background: transparent;
      gap: 10px;
    }
    @media (max-width: 768px) {
      gap: 5px;
    }
  }

  // .heading-complex__title

  &__title {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    min-height: 47px;
    background-color: #f6f6f6;
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    color: #000;
    padding: 5px 12px;
    transition:
      background-color 0.3s,
      color 0.3s;
    &.active {
      pointer-events: none;
      background-color: var(--theme-color-text-common1);
      color: #fff;
    }
    &:hover {
      color: var(--theme-color-text-common1);
    }
    @media (max-width: 1240px) {
      min-height: 36px;
      padding: 5px 15px;
      color: #555;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  // .heading-complex__showmore

  &__showmore {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      max-height: 210px;
      overflow: hidden;
      @media (max-width: 768px) {
        max-height: 90px;
      }
    }
    &.active {
      p {
        max-height: 100%;
      }
      .heading-complex__more {
        span {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: flex;
          }
        }
      }
    }
  }

  // .heading-complex__more

  &__more {
    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #111;
      transition: color 0.3s;
      &:hover {
        color: var(--theme-color-text-common1);
      }
      &:last-child {
        display: none;
      }
    }
  }

  // .heading-complex__article

  &__article {
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    color: #232323;
  }
}

.socials {
  display: flex;
  gap: 8px;
  a {
    display: flex;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
    img {
      width: 19px;
      height: 19px;
    }
  }
}

.breadcrumbs {
  position: relative;
  z-index: 10;
  padding: 31px 0px 27px 0px;
  @media (max-width: 768px) {
    padding: 31px 0px 13px 0px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    color: #232323;
    gap: 4px 8px;
    svg {
      fill: currentColor;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition:
        color 0.3s,
        opacity 0.3s;
      &:hover {
        color: var(--theme-color-text-common1);
      }
    }
    span {
      pointer-events: none;
      color: #232323;
    }
  }
}

.pagination2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin: 25px 0px 0px 0px;
  @media (max-width: 768px) {
    gap: 20px;
    margin: 30px 0px 0px 0px;
  }
  @media (max-width: 380px) {
    gap: 10px;
  }
  // .pagination__item

  &__item {
    height: 45px;
    min-width: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #aaa;
    transition:
      border 0.3,
      color 0.3s;
    &:hover {
      border: 1px solid var(--theme-color-text-common1);
      color: var(--theme-color-text-common1);
      @media (max-width: 768px) {
        border: 0.76px solid var(--theme-color-text-common1);
      }
    }
    @media (max-width: 768px) {
      font-size: 14px;
      height: 34px;
      min-width: 34px;
      border: 0.76px solid #aaa;
      border-radius: 8px;
    }

    // .pagination__item_active

    &_active {
      pointer-events: none;
      background: #dfdfdf;
      border: 1px solid transparent;
    }

    // .pagination__item_ellipsis

    &_ellipsis {
      pointer-events: none;
      border: none;
      width: 21px;
      height: 20px;
      @media (max-width: 768px) {
        width: 16px;
        height: 15px;
      }
    }
  }
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 79px;
  height: 79px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 1;
  }
  &::after {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  svg {
    position: relative;
    z-index: 10;
    fill: #04bb5b;
    margin: 0px -5px 0px 0px;
  }
}
