.footer {
  background: #181818;
  color: #fff;
  // .footer__content

  &__content {
  }
}

.top-footer {
  border-bottom: 0.88px solid #a6a6a6;
  padding: 34px 0px 56px 0px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  @media (max-width: 992px) {
    flex-direction: column;
    justify-content: start;
  }
  @media (max-width: 768px) {
    padding: 20px 0px 41px 0px;
    gap: 27px;
  }
  // .top-footer__right

  &__right {
    flex: 0 0 188px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
      align-items: center;
      width: 100%;
    }
  }

  // .top-footer__phone

  &__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 100%;
    border-radius: 15px;
    min-height: 47px;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    color: #181818;
    padding: 5px 20px;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 992px) {
      width: 350px;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }

  // .top-footer__address

  &__address {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a2b2e;
    width: 100%;
    border-radius: 15px;
    min-height: 47px;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    color: #fff;
    padding: 5px 20px;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 992px) {
      width: 350px;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }

  // .top-footer__left

  &__left {
    flex: 0 1 870px;
    display: flex;
    justify-content: space-between;
    gap: 87px;
    @media (max-width: 1200px) {
      gap: 30px;
    }
    @media (max-width: 992px) {
      flex: 1 1 auto;
      width: 100%;
    }
    @media (max-width: 768px) {
      gap: 50px 20px;
      flex-wrap: wrap;
    }
    @media (max-width: 380px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .top-footer__column

  &__column {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 13px;
    @media (min-width: 769px) {
      &:nth-child(4) {
        flex: 0 1 211px;
        @media (max-width: 1200px) {
          flex: 0 1 auto;
        }
      }
    }
    @media (max-width: 768px) {
      flex: 0 1 35%;
      &:nth-child(2n) {
        flex: 0 1 50%;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      li {
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: #b5b5b5;
          transition: color 0.3s;
          &:hover {
            color: var(--theme-color-text-common1);
          }
        }
      }
    }
  }

  // .top-footer__title

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
  }

  // .top-footer__contacts

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 14px;
    span {
      font-weight: 400;
      font-size: 11px;
      line-height: 120%;
      color: #b5b5b5;
    }
  }

  // .top-footer__contact

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  // .top-footer__email

  &__email {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    transition: color 0.3s;
    &:hover {
      color: var(--theme-color-text-common1);
    }
  }

  // .top-footer__socials

  &__socials {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .socials {
      gap: 15px;
      img {
        width: 39px;
        height: 39px;
        filter: invert(0%) sepia(3%) saturate(21%) hue-rotate(50deg) brightness(97%) contrast(91%);
      }
    }
  }
}

.bottom-footer {
  padding: 20px 0px 57px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 768px) {
    gap: 20px;
    padding: 28px 0px 23px 0px;
  }
  // .bottom-footer__body

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      align-items: center;
      gap: 40px 20px;
    }
  }

  // .bottom-footer__logo1

  &__logo1 {
    flex: 0 0 188px;
    display: flex;
    @media (max-width: 768px) {
      order: 2;
      flex: 0 1 auto;
    }
    a {
      display: flex;
      flex: 0 1 165px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  // .bottom-footer__left

  &__left {
    flex: 0 1 870px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 87px;
    @media (max-width: 1200px) {
      gap: 30px;
    }
    .bottom-footer__logo2 {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  // .bottom-footer__center

  &__center {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1 1 auto;
    margin: 0px -10px 0px 0px;
    @media (max-width: 1200px) {
      justify-content: start;
      margin: 0px 0px 0px 0px;
      gap: 40px;
    }
    @media (max-width: 768px) {
      flex: 1 1 100%;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      gap: 4px;
    }
    ul {
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;
      gap: 4px;
      li {
        a {
          font-weight: 500;
          font-size: 12px;
          line-height: 120%;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #fff;
          transition: color 0.3s;
          &:hover {
            color: var(--theme-color-text-common1);
          }
        }
      }
    }
  }

  // .bottom-footer__logo2

  &__logo2 {
    flex: 0 1 405px;
    display: flex;
    @media (max-width: 1200px) {
      flex: 0 1 94px;
    }
    @media (max-width: 768px) {
      flex: 0 1 auto;
    }
    &.mob {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        order: 3;
      }
    }
    a {
      display: flex;
      flex: 0 1 94px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  // .bottom-footer__text

  &__text {
    max-width: 48%;
    font-weight: 300;
    font-size: 11px;
    line-height: 120%;
    color: #7d7d7d;
    @media (max-width: 992px) {
      max-width: 60%;
    }
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}
