body::after {
    content: "";
    background-color: rgba(8, 30, 22, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    .lock & {
        visibility: visible;
    }
    @media (max-width: 768px) {
        padding: 30px 20px;
    }
    @media (max-width: 380px) {
        padding: 30px 15px;
    }
}

.popup__close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    transition: opacity 0.3s;
    img {
        width: 15px;
        height: 15px;
        filter: brightness(0%) contrast(100%);
    }
    &:hover {
        opacity: 1;
    }
    @media (max-width: 768px) {
        top: 10px;
        right: 10px;
    }
}

.popup {
    // .popup__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .block-contacts3__form {
            flex: 1 1 auto;
        }
    }

    // .popup__title

    &__title {
        text-align: center;
    }
}
