:root {
  --container-width: 1240px;
  --container-padding: 40px;
  --theme-color-accent: #404040;
  --theme-color-text-common1: #d6682b;

  --font-family: "Inter", sans-serif;
  --second-family: "SyncopateCyr", sans-serif;
  --third-family: "GTEestiProDisplay", sans-serif;
}
